<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters_package.LoginFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>SaveProjectServlet</servlet-name>
        <servlet-class>servlets_package.SaveProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDcoumentServlet</servlet-name>
        <servlet-class>servlets_package.SetDcoumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetIssuanceServlet</servlet-name>
        <servlet-class>servlets_package.SetIssuanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetResourceServlet</servlet-name>
        <servlet-class>servlets_package.SetResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLetter</servlet-name>
        <servlet-class>servlets_package.SetLetterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFileIntoDataBaseServlet</servlet-name>
        <servlet-class>servlets_package.ImportFileIntoDataBaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkloadServlet</servlet-name>
        <servlet-class>servlets_package.WorkloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkloadPeriodAdjustmentServlet</servlet-name>
        <servlet-class>servlets_package.WorkloadPeriodAdjustmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneWeekServlet</servlet-name>
        <servlet-class>servlets_package.OneWeekServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwoWeekServlet</servlet-name>
        <servlet-class>servlets_package.TwoWeekServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneMonthServlet</servlet-name>
        <servlet-class>servlets_package.OneMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <servlet-class>servlets_package.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSectionServlet</servlet-name>
        <servlet-class>servlets_package.AddNewSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSectionServlet</servlet-name>
        <servlet-class>servlets_package.DeleteSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProjectServlet</servlet-name>
        <servlet-class>servlets_package.AddNewProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterSystemServlet</servlet-name>
        <servlet-class>servlets_package.EnterSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>servlets_package.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSystemServlet</servlet-name>
        <servlet-class>servlets_package.LogoutSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocumentServlet</servlet-name>
        <servlet-class>servlets_package.AddDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIssuanceServlet</servlet-name>
        <servlet-class>servlets_package.AddIssuanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddResourceServlet</servlet-name>
        <servlet-class>servlets_package.AddResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocumentServlet</servlet-name>
        <servlet-class>servlets_package.DeleteDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIssuanceServlet</servlet-name>
        <servlet-class>servlets_package.DeleteIssuanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResourceServlet</servlet-name>
        <servlet-class>servlets_package.DeleteResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDocumentServlet</servlet-name>
        <servlet-class>servlets_package.UpdateDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIssuanceServlet</servlet-name>
        <servlet-class>servlets_package.UpdateIssuanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResourceServlet</servlet-name>
        <servlet-class>servlets_package.UpdateResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTechnicalIssueServlet</servlet-name>
        <servlet-class>servlets_package.InsertTechnicalIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTimesheetListDataServlet</servlet-name>
        <servlet-class>servlets_package.EditTimesheetListDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serv111</servlet-name>
        <servlet-class>servlets_package.serv111</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWorkloadListDataServlet</servlet-name>
        <servlet-class>servlets_package.EditWorkloadListDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDeliverableListServlet</servlet-name>
        <servlet-class>servlets_package.ExportDeliverableListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResourceListDataServlet</servlet-name>
        <servlet-class>servlets_package.EditResourceListDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveProjectServlet</servlet-name>
        <url-pattern>/SaveProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDcoumentServlet</servlet-name>
        <url-pattern>/SetDcoumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetIssuanceServlet</servlet-name>
        <url-pattern>/SetIssuanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetResourceServlet</servlet-name>
        <url-pattern>/SetResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLetter</servlet-name>
        <url-pattern>/SetLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportFileIntoDataBaseServlet</servlet-name>
        <url-pattern>/ImportFileIntoDataBaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkloadServlet</servlet-name>
        <url-pattern>/WorkloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkloadPeriodAdjustmentServlet</servlet-name>
        <url-pattern>/WorkloadPeriodAdjustmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneWeekServlet</servlet-name>
        <url-pattern>/OneWeekServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwoWeekServlet</servlet-name>
        <url-pattern>/TwoWeekServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneMonthServlet</servlet-name>
        <url-pattern>/OneMonthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <url-pattern>/DeleteProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSectionServlet</servlet-name>
        <url-pattern>/AddNewSectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSectionServlet</servlet-name>
        <url-pattern>/DeleteSectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProjectServlet</servlet-name>
        <url-pattern>/AddNewProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterSystemServlet</servlet-name>
        <url-pattern>/EnterSystemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSystemServlet</servlet-name>
        <url-pattern>/LogoutSystemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocumentServlet</servlet-name>
        <url-pattern>/AddDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIssuanceServlet</servlet-name>
        <url-pattern>/AddIssuanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddResourceServlet</servlet-name>
        <url-pattern>/AddResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocumentServlet</servlet-name>
        <url-pattern>/DeleteDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIssuanceServlet</servlet-name>
        <url-pattern>/DeleteIssuanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResourceServlet</servlet-name>
        <url-pattern>/DeleteResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDocumentServlet</servlet-name>
        <url-pattern>/UpdateDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIssuanceServlet</servlet-name>
        <url-pattern>/UpdateIssuanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResourceServlet</servlet-name>
        <url-pattern>/UpdateResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTechnicalIssueServlet</servlet-name>
        <url-pattern>/InsertTechnicalIssueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTimesheetListDataServlet</servlet-name>
        <url-pattern>/EditTimesheetListDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serv111</servlet-name>
        <url-pattern>/serv111</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWorkloadListDataServlet</servlet-name>
        <url-pattern>/EditWorkloadListDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDeliverableListServlet</servlet-name>
        <url-pattern>/ExportDeliverableListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResourceListDataServlet</servlet-name>
        <url-pattern>/EditResourceListDataServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
