@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.MainDiv{
}

/*---------------header---------------*/
.HeaderDiv{
    width: 100%;
    height: auto;
    background-color: #00508B;
    overflow: hidden;
    display:block;
    /*align-items: center;*/
    box-shadow: 0px 0px 15px 0px black;
}

.HeaderDiv img{
    position: absolute;
    width: 10%;
    height: 75px;
    float: left;
}

.HeaderDiv header{
    color: white;
    /*background-color: chocolate;*/
    display: inline-block;
    width: 50%;
    height: 30px;
    margin-top: 15px;
    margin-left: 25%;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: bold;
}

#namelogoid{
    /*margin-left: 70%;*/
    float: right;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*background-color: coral;*/
    overflow: hidden;
}
#usernamespan{
    font-family: "Times New Roman";
    color: white;
    float: right;
}
#usernameid{
    text-decoration: underline;
    font-weight: bold;
}
#logoutid{
    font-weight: bold;
    width: 70px;
    height: 25px;
    /*border: none;*/
    background-color: transparent;
    color: white;
    float: right;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;
}
#logoutid:hover{
    box-shadow: 0px 0px 15px 1px white;
    cursor: pointer;
}
/*=================================*/
/*---------------navigation bar---------------*/

.NavDiv{
    background-color: #333;
    float: left;
    width: 15%;
    height: auto;/*change when open form or more*/
    min-height: 1000px;
    /*border-right: solid 2px red;*/
}

.NavDiv ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    /*position: sticky;*/
    top: 0;
    width: 100%;
    height: auto;
    float: left;
}

.NavDiv ul li{
}

.NavDiv ul li a{
    text-decoration: none;
    display: block;
    background-color: #333;
    color: white;
    padding: 15px 20px;;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font-size: 19px;
    font-weight: bold;
    /*border: solid 1px red;
    border-radius: 50px 50px 50px 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;*/
}

#HorRight{
}

.NavDiv ul li a:hover{
    border-radius: 50px 50px 50px 50px;
    background-color: #B3DFEC;
    color: black;
    transition-duration: 1s;
}

/*=================================*/
/*---------------body---------------*/

/*---------------intro---------------*/
h1{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin: 30px;
}

p{
    width: 90%;
    height: auto;
    padding: 10px;
    margin-left: 50px;
    text-align: left;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    word-wrap: break-word;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    border: solid 2px black;
    margin-left: 15px;
}

th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    border: solid 2px black;
    background-color: #00508B;
    color: white;
    text-align: center;
    font-family: "Times New Roman";
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: solid 1px black;
    text-align: center;
    font-family: "Times New Roman";
}

.fcc{
    background-color: skyblue;
    color: black;
}

tr:hover{
    background-color: #BB9A9B;
}

td:hover{
    background-color: #C05D60;
}

.fcc:hover{
    background-color: skyblue;
}
/*===============ending intro==================*/

.BodyDiv{
    width: 85%;
    height: auto;/*change when open form or more*/
    min-height: 1000px;
    background-image: url("../images_folder/back3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    float: left;
    margin: 0px;
    padding: 0px;
}

/*---------------hor nav bar---------------*/

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #B3DFEC;
    color: black;
}

.dropbtn:hover, .DirNavLink:hover{
    transition-duration: 1s;
}

.dropdown:hover .dropbtn, .navbar .DirNavLink:hover{
    /*border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B8B8B8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#return_project_main{
    float: right;
}
/*===============ending hor nav bar===============*/


/*===============ending body==================*/
/*---------------footer---------------*/
.FooterDiv{
    width: 100%;
    height: auto;
    clear: both;
}
.FooterDiv footer{
    background-color: orange;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/*=================================*/

/*popup menu center*/
/*#hay{position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
        background-color: black;
        height: 500px;
}*/
/*
#doc_popup{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 300px;
        background-color: black;
}*/